@keyframes color {
    0% {
        background: #4fd;
    }

    20% {
        background: #67e8ff;
    }

    40% {
        background: #fff;
    }

    60% {
        background: #ffff;
    }

    80% {
        background: #67e8ff;
    }

    100% {
        background: #4fd;
    }
}

body {
    background: #33CCCC;
    animation: color 10s infinite linear;
    text-align: center;
    padding: 2em;
}

.container.table {
    border: 1px solid black;
    padding: 50px;
    border-radius: 10px;
    align-items: center;
}

.navbar-nav {
    justify-content: end;
    width: 70vw;
    padding: 2px;
}

.nav-item {
    font-size: 25px;
    font-weight: 400;
}

.title-nav {
    color: black;
    font-size: 40px;
    width: 140%;
    font-weight: 600;
}

.testecases {
    justify-content: center;
}

.btn {
    width: 90%;
}

.div-title {
    font-size: 40px;
    align-items: center;
}

.card-group {
    justify-content: center;
    width: auto;
    align-items: center;
    border-radius: 10px;
    border: 1px solid #000000;
    text-align: center;
    overflow: hidden;
}

.adicionando-itens {
    display: flex;
}